*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    height: 8000px;
}
.row{
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    height: 60px;
}
.row-justify-content-start{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.row-justify-content-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.row-justify-content-end{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
      
}      
  

[class*=col]{
    flex: 1 0 auto;
}     
.col{
    flex-grow: 1 0 0;
}  
.col-1{
    flex-basis: calc((100% / 12) * 1);
    max-width:calc((100% / 12) * 1);
}
.col-2{
    flex-basis: calc((100% / 12) * 2);
    max-width:calc((100% / 12) * 2);
}
.col-3{
    flex-basis: calc((100% / 12) * 3);
    max-width:calc((100% / 12) * 3);
}
.col-4{
    flex-basis: calc((100% / 12) * 4);
    max-width:calc((100% / 12) * 4);
}
.col-5{
    flex-basis: calc((100% / 12) * 5);
    max-width:calc((100% / 12) * 5);
}
.col-6{
    flex-basis: calc((100% / 12) * 6);
    max-width:calc((100% / 12) * 6);
}
.col-7{
    flex-basis: calc((100% / 12) * 7);
    max-width:calc((100% / 12) * 7);
}
.col-8{
    flex-basis: calc((100% / 12) * 8);
    max-width:calc((100% / 12) * 8);
}
.col-9{
    flex-basis: calc((100% / 12) * 9);
    max-width:calc((100% / 12) * 9);
}
.col-10{
    flex-basis: calc((100% / 12) * 10);
    max-width:calc((100% / 12) * 10);
}
.col-11{
    flex-basis: calc((100% / 12) * 11);
    max-width:calc((100% / 12) * 11);
}
.col-12{
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}

.offset-1{
    margin-left: calc((100% / 12) * 1);
}
.offset-2{
    margin-left: calc((100% / 12) * 2);
    
}
.offset-3{
    margin-left: calc((100% / 12) * 3);
    
}
.offset-4{
    margin-left: calc((100% / 12) * 4);
    
}
.offset-5{
    margin-left: calc((100% / 12) * 5);
    
}
.offset-6{
    margin-left: calc((100% / 12) * 6);
    
}
.offset-7{
    margin-left: calc((100% / 12) * 7);
    
}
.offset-8{
    margin-left: calc((100% / 12) * 8);
    
}
.offset-9{
    margin-left: calc((100% / 12) * 9);
    
}
.offset-10{
    margin-left: calc((100% / 12) * 10);
    
}
.offset-11{
    margin-left: calc((100% / 12) * 11);
    
}
.offset-12{
    margin-left: calc((100% / 12) * 12);
    
}
#nested{
    background-color: rgb(0,225,101);
    border: 1px solid rgb(0, 108, 250);
    

}

   







